<!-- app.component.html -->
<div class="centered-container">
  <div class="container">
    <div class="row">
      <div class="col-md-4 mt-2" *ngFor="let role of roles">
        <div class="card">
          <img [src]="role.image" class="card-img-top" [alt]="role.title + ' Image'">
          <div class="card-body">
            <h5 class="card-title">{{ role.title }}</h5>
            <p class="card-text">{{ role.description }}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>