<link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
<div class="row">
  <br><br><br><br>
  <div class="col-md-6">
    <img src="assets/skill.jpg" class="img-fluid" alt="Background Image" style="width: 90%; max-height: 90vh; object-fit: contain;">
  </div>
  <div class="col-md-4 container-skills">
    
    <div class="html">
      <p class="bar-title">
        HTML / HTML5 & CSS
        <span class="percent align-right">90%</span>
      </p>
      <div class="bar">
        <div class="bar-fill bar-fill-html start"></div>
      </div>
    </div>
    <div class="javascript">
      <p class="bar-title">
        Javascript
        <span class="percent align-right">75%</span>
      </p>
      <div class="bar">
        <div class="bar-fill bar-fill-javascript start"></div>
      </div>
    </div>
    <div class="jquery">
      <p class="bar-title">
        JQuery
        <span class="percent align-right">60%</span>
      </p>
      <div class="bar">
        <div class="bar-fill bar-fill-jquery start"></div>
      </div>
    </div>
    <div class="responsive-design">
      <p class="bar-title">
        C#
        <span class="percent align-right">90%</span>
      </p>
      <div class="bar">
        <div class="bar-fill bar-fill-responsive start"></div>
      </div>
    </div>
    <div class="photoshop">
      <p class="bar-title">
        .Net Core
        <span class="percent align-right">70%</span>
      </p>
      <div class="bar">
        <div class="bar-fill bar-fill-photoshop start"></div>
      </div>
    </div>
    <div class="sql">
      <p class="bar-title">
        SQL
        <span class="percent align-right">90%</span>
      </p>
      <div class="bar">
        <div class="bar-fill bar-fill-sql start"></div>
      </div>
    </div>
  </div>
</div>