<nav class="navbar navbar-expand-lg navbar-light">
  <div class="container">
    <a class="navbar-brand" href="#">Sachin Patil</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
      aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a class="nav-link" routerLink="/contact">Contact</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/skills">Skills</a>
        </li>
      </ul>
    </div>
    <!-- Right-aligned buttons with space  -->
    <div class="ml-auto d-flex gap-2">
      <a class="btn btn-warning" href="https://sac799.github.io/text_to_speech_app/" target="_blank">Text to Speech
        App</a>
      <a class="btn btn-primary"
        href="https://drive.google.com/file/d/1goIWUAfj6qpFGHBpmG5xtU5CL7v1sLUD/view?usp=drive_link"
        target="_blank">Download CV</a>
    </div>
  </div>
</nav>
<br><br>
<!-- <img src="assets/bg.jpg" class="full-screen-image"> -->
<div class="container mt-4">
  <div class="row">
    <!-- First Column: Image -->
    <div class="col-md-6">
      <img src="assets/bg.jpg" class="img-fluid" alt="Background Image">
    </div>

    <!-- Second Column: Information -->
    <div class="col-md-6">
      <h2 class="mb-4">About Me</h2>
      <div class="">
        <p class="lead">
          Experienced Full Stack Software Developer with 3.5+ years in both frontend and backend development,
          specializing in C#, .Net, Angular, React,
          and JavaScript. Proficient in creating responsive websites, managing databases, and upholding rigorous coding
          standards. Adept at
          creative problem-solving, debugging, and clear communication, with a passion for innovation and global
          perspectives.
        </p>
        <div class="ml-auto d-flex gap-2">
          <a class="btn btn-primary mt-4" href="tel:+447586238369">Call me</a>
          <a class="btn btn-primary mt-4" href="mailto:sacpatil799@gmail.com">Email me</a>
        </div>
      </div>

      <!-- Add more information here as needed -->
      <div id="callme">
        <div id="callmeMain"  href="tel:+447586238369"></div>
      </div>
  
    </div>
   
  </div>
</div>