body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  flex: 1 0 auto;
}

h1.title,
.footer-copyright a {
  font-family: "Architects Daughter", cursive;
  text-transform: uppercase;
  font-weight: 900;
}
.logo {
  width: 150px; /* Adjust the width as needed */
  height: 40px;
  margin-right: 10px; /* Adjust the margin as needed */
  vertical-align: middle;
}