<div class="container">
    <div *ngFor="let card of cards" class="card bg-dark mt-4">
        <img [src]="card.gifSource" class="card-img-top" alt="...">
        <div class="card-body">
            <div class="text-section">
                <h5 class="card-title fw-bold text-white">{{ card.title }}</h5>
                <p class="card-text text-white">{{ card.description }}</p>
            </div>
            <div class="cta-section">
                <a [href]="card.appLink" target="_blank" class="btn btn-light">Open App</a>
                <a [href]="card.moreLink" target="_blank" class="btn btn-light">Read More</a>
            </div>
        </div>
    </div>
</div>