<div class="container">
    <div class="card bg-dark mt-4">
        <img src="https://media.giphy.com/media/oMg7wBHYhS3p5ER9y6/giphy.gif" class="card-img-top" alt="...">
        <div class="card-body">
            <div class="text-section">
                <h5 class="card-title fw-bold text-white">Text to Speech App</h5>
                <p class="card-text text-white">The "Text to Speech" application is a user-friendly and privacy-focused
                    web tool that transforms text input into spoken words using advanced text-to-speech technology.</p>
            </div>
            <div class="cta-section">
                <a href="https://sac799.github.io/text_to_speech_app/" target="_blank" class="btn btn-light">Open App</a>
                <a href="https://github.com/sac799/text_to_speech_app/blob/43eba52b73793c9cee0c016ef1d90a388d10f7e9/Speech%20to%20Text%20App.pdf"
                    target="_blank" class="btn btn-light">Read More</a>
            </div>
        </div>
    </div>
</div>