<div class="container">
  <div class="row">
    <div class="col-md-6">
      <img src="assets/bg.jpg" class="img-fluid" alt="Background Image">
    </div>

    <div class="col-md-6">
      <h2 class="mb-4">About Me</h2>
      <div class="">
        <p class="lead">
          Experienced Full Stack Software Developer with 3.5+ years in both frontend and backend development,
          specializing in C#, .Net, Angular, React,
          and JavaScript. Proficient in creating responsive websites, managing databases, and upholding rigorous coding
          standards. Adept at
          creative problem-solving, debugging, and clear communication, with a passion for innovation and global
          perspectives.
        </p>

      </div>

      <div id="callme">
        <div id="callmeMain" href="tel:+447586238369"></div>
      </div>

      <div class="mt-4">
        <h3 class="mb-3">Education</h3>
        <ul class="list-unstyled">
          <li>
            <strong>Master of Science in Data Science</strong>
            <br>
            <span class="text-muted">Manchester Metropolitan University, UK</span>
            <br>
            <span class="text-muted">September 2022 – September 2023</span>
            <br>
            <span class="text-muted">Grade: Merit</span>
          </li><br>
          <li>
            <strong>Bachelor of Engineering, Computer Engineering/Computer Science</strong>
            <br>
            <span class="text-muted">Pune University, Pune, India</span>
            <br>
            <span class="text-muted">July 2014 - January 2018</span>
            <br>
            <span class="text-muted">Grade: Distinction</span>
          </li>
        </ul>
      </div>

      <div class="ml-auto d-flex gap-2">
        <a class="btn btn-primary mt-4" href="tel:+447586238369">Call me</a>
        <a class="btn btn-primary mt-4" href="mailto:sacpatil799@gmail.com">Email me</a>
      </div>
      <br>
    </div>

  </div>
</div>